/* ============页面初始化代码:头部============ */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
/* ============页面初始化代码:尾部======By:HY============ */

 /* 初始化页面a标签的下划线问题 */
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

.hy-firsttable{
    display: block;
    position: relative; 
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.hy-table-content{
    display: block;
    position: relative;
    width: auto;
    overflow-x: auto;
}

.hy-table-content table {
    display: table;
    position: relative;
    width: auto;
    height: auto;
    table-layout: fixed;
}

.hy-table-content table thead { width: auto;}
.hy-table-content table thead tr { width: auto;}
.hy-table-content table thead tr td {
    box-sizing: border-box;
    position: relative;
    font-weight: 600;
    height: 40px;
    padding: 8px;
    color: #5a5a5a;
    font-size: 14px;
    background-color: rgb(102, 163, 255);
    border: 1px solid #ffffff;
}

.hy-table-content table tbody { width: auto;}

.hy-table-content table tbody tr { 
    position: relative;
    width: auto;
}

.hy-table-content table tbody tr td {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    padding: 8px;
    color: #5a5a5a;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}